:root {
    --rad: .7rem;
    --dur: .3s;
    --color-dark: #000000;
    --color-light: #fff;
    --color-brand: #1DB954;
    --font-fam: 'Lato', sans-serif;
    --height: 5rem;
    --btn-width: 10rem;
    --bez: cubic-bezier(0, 0, 0.43, 1.49);
  }

body {background: var(--color-dark); display: flex; align-items: center; justify-content: center; min-height: 100vh; color: var(--color-light);}
html { box-sizing: border-box; height: 100%; font-size: 10px; } *, *::before, *::after { box-sizing: inherit; }

.center {
    padding: 70px 0;
    text-align: center;
  }

/* CSS */
.button-74 {
  background-color: #fff;
  border: 2px solid #000000;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: var(--color-brand);
}

.button-74:active {
  box-shadow: var(--color-brand) 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}

a {
  font-size: x-small;
  color: #fff;
  padding-top: 10px;
}

p {
    font-size: x-large;
}