<!doctype html>
<html lang="en">
    <head>
        <title>{% block title %}Reddify{% endblock title %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='create_playlist.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    $('form').submit(function(event) {
        $('#loader').addClass('loader');
    });
});
</script>
{% endblock %}
<body>
    {% block content %}
    <form method="post" role="search">
        <label for="Reddit Post URL">Reddit Post URL</label>
        <input id="url" type="url" name="url" placeholder="Paste Reddit post link..." autofocus required />
        <button type="submit">Create Playlist</button>    
    </form>
    {% endblock %}
    {% block messages %}
    {% for category, message in get_flashed_messages(with_categories=true) %}
    <p></p>
    <div class="flash {{ category }}">{{ message }}</div>
    {% endfor %}
    {% endblock %}
    <div>
        <p id="loader"></p>
    </div>
</body>
</html>